* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Komoda";
  src: url("../assets/Komoda.otf");
}

body {
  background: #424141;
}

body header h1 {
  font-family: "Komoda", Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 5px;
  padding-left: 50px;
  margin: 50px 0;
  color: #f2f2f2;
  letter-spacing: 40px;
  font-size: 54px;
  background: #E94F37;
}

body main .contenedorSudoku {
  width: 460px;
  margin: auto;
  border: 5px solid #363538;
}

body main .contenedorSudoku .cuadro {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0;
  background: #fff;
  border: 1px solid #363538;
  font-size: 35px;
  text-align: center;
  vertical-align: middle;
  color: #E94F37;
  vertical-align: top;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body main .contenedorSudoku .cuadro:hover {
  background: #f2f2f2;
}

body main .contenedorSudoku .lineaVertical {
  border-right: 4px solid #363538;
  display: inline-block;
}

body main .contenedorSudoku .lineaHorizontal {
  border-bottom: 4px solid #363538;
  display: inline-block;
}

body main .contenedorBtn {
  text-align: center;
}

body main .contenedorBtn .btn {
  width: 95px;
  margin: 30px;
  padding: 10px 0px;
  border-radius: 5px;
  background: #424141;
  border: 2px solid #E94F37;
  color: #E94F37;
  font-weight: bold;
}

body main .contenedorBtn .btn:hover {
  background: #E94F37;
  color: #424141;
  -webkit-box-shadow: 5px 5px 10px rgba(233, 79, 55, 0.3);
          box-shadow: 5px 5px 10px rgba(233, 79, 55, 0.3);
}

body main .contenedorBtn .check {
  background: #E94F37;
  color: #424141;
}

body main .contenedorBtn .check:hover {
  background: #424141;
  border: 2px solid #E94F37;
  color: #E94F37;
  -webkit-box-shadow: 5px 5px 10px rgba(233, 79, 55, 0.3);
          box-shadow: 5px 5px 10px rgba(233, 79, 55, 0.3);
}

@media screen and (max-width: 600px) {
  body main .contenedorSudoku {
    width: 90%;
  }
  body main .contenedorSudoku .cuadro {
    width: 11%;
    height: 0;
    font-size: 35px;
    padding-bottom: 10%;
    padding-top: 1%;
    vertical-align: middle;
  }
  body main .contenedorBtn .btn {
    margin: 10px;
  }
}

@media screen and (max-width: 400px) {
  body header h1 {
    margin: 20px 0;
    letter-spacing: 30px;
    font-size: 42px;
  }
  body main .contenedorSudoku {
    width: 100%;
  }
  body main .contenedorSudoku .cuadro {
    font-size: 24px;
    padding-bottom: 9%;
    padding-top: 2%;
  }
  body main .contenedorBtn {
    margin-top: 10px;
  }
  body main .contenedorBtn .btn {
    width: 80px;
    padding: 5px;
    margin: 5px;
    font-size: 12px;
  }
}

@media screen and (max-width: 280px) {
  body header h1 {
    margin: 20px 0;
    letter-spacing: 20px;
    font-size: 32px;
  }
  body main .contenedorSudoku .cuadro {
    font-size: 20px;
    padding-bottom: 10%;
    padding-top: 1%;
  }
  body main .contenedorBtn {
    margin-top: 10px;
  }
  body main .contenedorBtn .btn {
    width: 65px;
    padding: 5px;
    margin: 5px;
    font-size: 12px;
  }
}
/*# sourceMappingURL=estilo.css.map */